:root {
    --white: #ffffff;
    --veryLightGray: #F6F6F6;
    --modLightGray: #E8E8E8;
    --lightGray: #D3D3D3;
    --gray:  #808080;
    --darkGray: #505050;
    --black: #000000;
    --blue: #1859CF;
    --lightBlue: #4285F4;
  }

  body {
    display: grid;
    background-color: white;
    font-family: Helvetica, Arial;
    grid-template-rows: 50px auto 120px;
    grid-template-areas:
      "topnav"
      "mainPart"
      "footer";
    grid-row-gap: 20px;
  }

  body > div {
    border-bottom: 1px solid var(--lightGray);
  }

  body > div.topnav {
    grid-area: topnav;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    grid-template-areas:
      "topnav_className topnav_classNav topnav_profile";
  }

  body > div.topnav > div.topnav_className {
    grid-area: topnav_className;
    justify-self: start;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    grid-gap: 0px 20px;
  }

  body > div.topnav > div.topnav_classNav {
    grid-area: topnav_classNav;
    justify-self: center;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    grid-gap: 0px;
  }

  body > div.topnav button {
    background-color: var(--white);
    font-size: 0.9rem;
    font-weight: bold;
    border: none;
    padding: 0px 25px;
    outline: none;
  }

  body > div.topnav > div.topnav_className > button.buttonIcon {
    border-radius: 5px;
  }

  body > div.topnav button:hover {
    background-color: var(--veryLightGray);
  }

  body > div.topnav button:active {
    background-color: var(--modLightGray);
  }

  body > div.topnav > div.topnav_classNav > button.buttonNav {
    color: var(--darkGray);
  }

  body > div.topnav > div.topnav_classNav > button.buttonNavSelected {
    color: var(--black);
    border-bottom: 4px solid var(--blue);
  }


  body > div.topnav > div.topnav_profile {
    grid-area: topnav_profile;
    justify-self: end;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    grid-gap: 20px;
    font-size: 1.5rem;
  }

  body > div.mainPart {
    grid-area: mainPart;
    padding: 0px 200px;
    display: grid;
    grid-template-rows: 250px auto;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "mainPart_classHeader mainPart_classHeader"
      "mainPart_upcomingWorks mainPart_currentFeed";
    justify-content: center;
    grid-gap: 20px;
  }

  body > div.mainPart > div.mainPart_classHeader {
    grid-area: mainPart_classHeader;
    padding: 20px 30px;
    border-radius: 10px;
    color: var(--white);
    background-image:
      linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)),
      url("MIL_image.jpg");
    background-size: 100%;
    background-position: 50% 75%;
    line-height: 1rem;
    font-size: 1.3rem;
  }

  body > div.mainPart > div.mainPart_classHeader > h1 {
    font-size: 2.2rem;
  }

  body > div.mainPart > div.mainPart_upcomingWorks {
    grid-area: mainPart_upcomingWorks;
  }

  body > div.mainPart > div.mainPart_upcomingWorks > div.itemUpcoming {
    padding: 10px 20px 20px 20px;
    background-color: white;
    border: 1px solid var(--lightGray);
    border-radius: 10px;
    color: var(--gray);
    font-size: 0.8rem;
    font-family: Arial;
    line-height: 2.3rem;
  }

  body > div.mainPart > div.mainPart_upcomingWorks > div.itemUpcoming
  > h1 {
    font-size: 0.9rem;
    color: var(--darkGray);
  }

  body > div.mainPart > div.mainPart_upcomingWorks > div.itemUpcoming
  > div.linkViewAll {
    color: var(--blue);
    text-align: right;
    font-weight: bold;
  }

  body > div.mainPart > div.mainPart_currentFeed {
    grid-area: mainPart_currentFeed;
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 20px;
    padding: 0px 0px 20px 0px;
  }

  body > div.mainPart > div.mainPart_currentFeed > div {
    background-color: var(--white);
    text-align: center;
    border: 1px solid var(--lightGray);
    border-radius: 10px;
    font-size: 0.8rem;
    font-family: Arial;
    padding: 20px;
  }

  body > div.mainPart > div.mainPart_currentFeed > div.itemFeedYourPost {
    display: grid;
    box-shadow: 0px 2px 5px var(--lightGray);
    grid-columns: 50px 1fr;
    grid-template-areas:
      "itemFeedYourPost_icon itemFeedYourPost_textbox";
    grid-gap: 20px;
    justify-content: start;
    justify-items: start;
    align-items: center;
    padding: 14px 20px;
  }

  body > div.mainPart > div.mainPart_currentFeed > div.itemFeedYourPost
  > div.itemFeedYourPost_icon {
    grid-area: itemFeedYourPost_icon;
    font-size: 1.5rem;
  }

  body > div.mainPart > div.mainPart_currentFeed > div.itemFeedYourPost
  > div.itemFeedYourPost_textbox {
    grid-area: itemFeedYourPost_textbox;
  }

  body > div.mainPart > div.mainPart_currentFeed > div.itemFeedYourPost
  > div.itemFeedYourPost_textbox > span {
    color: var(--gray);
    text-align: left;
    border: none;
    outline: none;
  }

  body > div.mainPart > div.mainPart_currentFeed > div.itemFeedModsPost {
    display: grid;
    grid-auto-rows: auto;
    grid-template-areas:
      "itemFeedModsPost_post"
      "itemFeedModsPost_comment"
  }

  body > div.mainPart > div.mainPart_currentFeed > div.itemFeedModsPost
  > div.itemFeedModsPost_post {
    display: grid;
    grid-area: "itemFeedModsPost_post";
    grid-template-areas:
      "itemFeedModsPost_post_icon itemFeedModsPost_post_ownerAndDate itemFeedModsPost_post_options"
      "itemFeedModsPost_post_content itemFeedModsPost_post_content itemFeedModsPost_post_content";
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 20px;
    justify-content: start;
    justify-items: start;
    align-items: center;
  }

  body > div.mainPart > div.mainPart_currentFeed > div.itemFeedModsPost
  > div.itemFeedModsPost_post > div.itemFeedModsPost_post_icon {
    grid-area: "itemFeedModsPost_post_icon";
    font-size: 1.5rem;
  }

  body > div.mainPart > div.mainPart_currentFeed > div.itemFeedModsPost
  > div.itemFeedModsPost_post > div.itemFeedModsPost_post_ownerAndDate {
    grid-area: "itemFeedModsPost_post_ownerAndDate";
    text-align: left;
  }

  body > div.mainPart > div.mainPart_currentFeed > div.itemFeedModsPost
  > div.itemFeedModsPost_post > div.itemFeedModsPost_post_options {
    grid-area: "itemFeedModsPost_post_options";
    justify-self: end;
    font-size: 1.5rem;
  }

  body > div.mainPart > div.mainPart_currentFeed > div.itemFeedModsPost
  > div.itemFeedModsPost_post > div.itemFeedModsPost_post_content {
    grid-area: "itemFeedModsPost_post_content";
    grid-column: 1 / span 3;
    color: var(--black);
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--lightGray);
  }

  body > div.mainPart > div.mainPart_currentFeed > div.itemFeedModsPost
  > div.itemFeedModsPost_comment {
    display: grid;
    grid-columns: 50px 1fr;
    grid-template-areas:
      "itemFeedModsPost_comment_icon itemFeedModsPost_comment_textbox";
    grid-gap: 20px;
    justify-content: start;
    justify-items: start;
    align-items: center;
    padding: 14px 20px;
  }

  body > div.mainPart > div.mainPart_currentFeed > div.itemFeedModsPost
  > div.itemFeedModsPost_comment > div.itemFeedModsPost_comment_icon {
    grid-area: itemFeedModsPost_comment_icon;
    font-size: 1.3rem;
  }

  body > div.mainPart > div.mainPart_currentFeed > div.itemFeedModsPost
  > div.itemFeedModsPost_comment > div.itemFeedModsPost_comment_textbox {
    grid-area: itemFeedModsPost_comment_textbox;
    border: 1px solid var(--lightGray);
    border-radius: 20px;
    padding: 10px;
  }

  body > div.mainPart > div.mainPart_currentFeed > div.itemFeedModsPost
  > div.itemFeedModsPost_comment > div.itemFeedModsPost_comment_textbox
  > span {
    color: var(--gray);
    text-align: left;
    border: none;
    outline: none;
  }

  body > div.mainPart > div.mainPart_currentFeed > div.itemFeedNewMaterial {
    display: grid;
    grid-auto-columns: auto;
    grid-template-areas:
      "itemFeedNewMaterial_icon itemFeedNewMaterial_nameAndDate itemFeedNewMaterial_options";
    grid-column-gap: 20px;
    grid-template-columns: 50px 1fr 50px;
    justify-content: start;
    justify-items: start;
    align-items: center;
  }

  body > div.mainPart > div.mainPart_currentFeed > div.itemFeedNewMaterial
  > div.itemFeedNewMaterial_icon {
    grid-area: "itemFeedNewMaterial_icon";
    font-size: 1.5rem;
  }

  body > div.mainPart > div.mainPart_currentFeed > div.itemFeedNewMaterial
  > div.itemFeedNewMaterial_nameAndDate {
    grid-area: "itemFeedNewMaterial_nameAndDate";
    text-align: left;
  }

  body > div.mainPart > div.mainPart_currentFeed > div.itemFeedNewMaterial
  > div.itemFeedNewMaterial_options {
    grid-area: "itemFeedNewMaterial_options";
    justify-self: end;
    font-size: 1.5rem;
  }

  body > div.footer {
    grid-area: footer;
    padding: 0px 200px;
    text-align: center;
    line-height: 2rem;
  }